<!-- Demo version: 2018.05.21 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Video OneWay Broadcasting using RTCMultiConnection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
  <section class="livestream-container">
    <div id="videos-container" class="livestream">
      <div class="livestream-brand">
        <img src="images/logo.svg" alt="Smarthome logo">
        <p class="live-text">
          <span >Live</span>
        </p>
      </div>
    </div>
  </section>

<script src="js/RTCMultiConnection.js"></script>
<script src="js/adapter.js"></script>
<script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-database.js"></script>
<script src="js/getHTMLMediaElement.js"></script>

<script src="js/watch.js"></script>
<script src="https://cdn.webrtc-experiment.com/common.js"></script>
</body>
</html>
